@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maincontainer {
  height: 100vh;
}
.outerbox {
  background: linear-gradient(to bottom, #0058ed, rgb(0, 59, 218));
  width: 500px;
  height: 500px;
  border-radius: 10px 10px 0 0;
  flex-flow: column;
  padding: 1px;
}
.header {
  box-shadow: 5px 15px 5px #093aeb inset;
}
.header > h4 {
  margin: 5px;
  font-size: 17px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: rgb(233, 230, 227);
}
i {
  font-size: 19px;
  border: 2px solid white;
  padding: 3px 5px;
}
.fa-xmark {
  background-color: rgb(243, 64, 64);
  margin-right: 7px;
}
.maincontent {
  background-color: rgb(238, 237, 215);
  flex-grow: 1;
  border-radius: 5px 5px 0px 0px;
}
.topbtns, #normalfont {
  margin-top: 15px;
}
#fontwidth {
  width: 80px;
  background-color: #fff;
  border-bottom: none;
  position: relative;
  outline-offset: -6px;
  outline: 1px dotted black;
}
#fontwidth::after {
  position: absolute;
  border-radius: 3px;
  height: 4px;
  width: 84px;
  background-color: #f0cf98;
  bottom: 98%;
  right: -3px;
}
.buttons {
  border-radius: 3px 3px 0 0;
  margin-left: 1px;
  border: 1px solid grey;
}
.workoutarea {
  background-color: rgb(255, 255, 255);
  width: 98%;
  border-radius: 5px 5px 0 0;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.one {
  width: 40%;
}
.one > select {
  width: 185px;
  border: 1px solid rgb(136, 153, 212);
}
.cmmn {
  flex-direction: column;
}
.cmmn > input {
  flex: 1;
}
.two {
  width: 30%;
}
.three {
  width: 20%;
}
.start3 > .effect, #preview{
  width: 50%;
}
input[type="checkbox"] {
  appearance: none;
  height: 14px;
  width: 14px;
  border: 2px solid #406b8f;
  background: linear-gradient(to bottom,#E6E6E3,#ffffff);
  border-radius: 1px;
}
input[type="checkbox"]:after {
  font-family: "font awesome 5 free";
  content: "\f00c";
  font-weight: 700;
  font-size: 12px;
  display: none;
}
#fontwidth::after,input[type="checkbox"]:checked:after {
  display: block;
}
.alignment-option {
  background-size: 18px;
  background-image: url(./Image/dropdown.svg);
  background-position: top 0px right 0px;
  background-repeat: no-repeat;
}
#preview > fieldset {
  width: 100%;
  height: 91px;
}
#preview1 {
  margin: 2px;
  text-align: center;
  height: 65px;
  flex-direction: row;
  font-size: 20px;
}
select {
  padding: 2px;
}
option:checked {
  background-color: #446eb4;
}
.effect > fieldset {
  width: 90%;
  height: 90px;
}
legend {
  color: rgb(92, 65, 240);
}
#color {
  width: 130px;
}
#preview1:before,
#preview1:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
#preview1:before {
  margin-right: 10px;
}
#color1 {
  margin-left: 15px;
}
#color1 > select {
  width: 140px;
}
#lstwrd {
  margin: 20px 0 10px 0;
}
#lstwrd, label, .input1::placeholder, .start3 > .effect{
  color: #000;
}
.lstbtns {
  width: 90px;
  height: 25px;
  margin: 10px 10px 0px 0px;
  border: 1px solid black;
}
#okbtn{
  box-shadow: 0 0 3px 2px rgb(105, 145, 231) inset;
}
.lstbtns1 {
  justify-content: flex-end;
}
.start2, .start3{
  margin-top: 10px;
}
.maincontainer, .outerbox, .header, .topbtns, .start1, .start2, .start3, .lstbtns1, #preview1, .cmmn{
  display: flex;
}
#preview1, .topbtns, .maincontainer{
  align-items: center;
}
.padding{
  padding: 5px;
}
i, #preview > fieldset, .effect > fieldset{
  border-radius: 5px;
}
.fa-solid, option:checked{
  color: white;
}
.maincontainer, .topbtns{
  justify-content: center;
}
.header, .start2, .start1{
  justify-content: space-between;
}
#preview1, .outerbox{
  border: 2px solid black;
}
select, .buttons{
  font-size: 15px;
}